version: "3.9"

services:
  api:
    build: .
    container_name: staypick-api
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      UPSTASH_TOKEN: ${UPSTASH_TOKEN}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    restart: unless-stopped
    command: >
      sh -c "java -jar app.jar --spring.profiles.active=${SPRING_PROFILES_ACTIVE}"
