spring:
  application:
    name: rapidstay-api
  profiles:
    active: local

---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://dpg-d44bbu3ipnbc73d2n6q0-a.oregon-postgres.render.com/rapidstay_db
    username: redshine75
    password: EKj5HOzXrKDY91Y4a5F4rQzDyyL5QWpR

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 60000

server:
  port: 8081
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.rapidstay: DEBUG

web:
  resources:
    add-mappings: false

---

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://dpg-d44bbu3ipnbc73d2n6q0-a.oregon-postgres.render.com/rapidstay_db
    username: redshine75
    password: EKj5HOzXrKDY91Y4a5F4rQzDyyL5QWpR

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 60000

server:
  port: 8081
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.rapidstay: DEBUG

---

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://dpg-d44bbu3ipnbc73d2n6q0-a.oregon-postgres.render.com/rapidstay_db}
    username: ${DB_USERNAME:redshine75}
    password: ${DB_PASSWORD:EKj5HOzXrKDY91Y4a5F4rQzDyyL5QWpR}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST:redis-rapidstay.xap.internal}
      port: ${REDIS_PORT:6379}
      timeout: 60000

server:
  port: 8081
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.rapidstay: INFO

---

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
